.cart__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}

.jacket__colors-container--cart {
  display: flex;
  flex-direction: column;
}

.cart__product-name {
  display: flex;
  flex-direction: column;
}

.cart__product-name p {
  margin: 80px 0;
}

.cart__size {
  display: flex;
  flex-direction: column;
}

.cart__size p {
  margin: 80px 0;
}

.cart__price {
  display: flex;
  flex-direction: column;
}

.cart__price p {
  margin: 80px 0;
}

.cart-item__container img {
  max-width: 200px;
}

.cart-item__title {
  font-weight: 500;
}

.cart-item__title,
.cart-item__price {
  margin: 10px 10px;
}

.cart-item__delete-btn {
  padding: 6px 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.15s, border-color 0.15s, transform 0.15s;
}

.cart-item__delete-btn:hover {
  background-color: #d1f28c;
  border-color: #d1f28c;
  color: #0a3641;
}

.cart__total {
  display: flex;
  flex-direction: column;
}

.cart__total p {
  margin: 80px 0;
}

.btn--cart {
  min-width: 400px;
}

.btn__position {
  display: flex;
  justify-content: right;
  padding: 20px 50px;
}

.cart__container h2 {
  font-size: 1rem;
}

.breadcrumb--jacket {
  padding-left: 50px;
}

.progress-bar {
  margin: 0 auto;
  max-width: 450px;
  padding-bottom: 80px;
}

.cart__payment-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
