.card__icons {
  position: absolute;
  display: flex;
  gap: 10px;
  top: 10px;
  right: 10px;
}

.jacket-product__card {
  display: flex;
  flex-direction: row-reverse;
}

.jacket__left-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.jacket__title {
  justify-content: space-between;
}

.jacket-product__title,
.jacket-product__price {
  font-size: 1.75rem;
}

.jacket-product__info {
  line-height: 2;
  max-width: 500px;
}

.jacket__icons {
  max-height: 50px;
  padding: 10px 10px;
  margin: 10px 0;
}

.jacket__colors-container {
  max-width: 500px;
  gap: 1rem;
}

.jacket-product__img {
  max-width: 670px;
}

.jacket-product__title,
.jacket-product__price,
.jacket-product__info {
  margin: 0 0 20px 0;
}

.card__content {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}

.breadcrumb--jacket {
  padding-top: 100px;
  max-width: 1150px;
}

.breadcrumb--jacket ol {
  padding-left: 0;
}

.btn--cart {
  width: 100%;
  max-width: 500px;
  margin: 20px 0;
}

.size-select {
  flex-direction: column;
  gap: 8px;
  margin: 1em 0;
  font-family: sans-serif;
}

.size-select__label {
  font-weight: 600;
  font-size: 1rem;
}

.size-select__dropdown {
  padding: 10px;
  border: 1px solid #0a3641;
  font-size: 1rem;
  background-color: #ffffff;
  color: #0a3641;
  cursor: pointer;
  transition: border 0.2s ease;
  width: 100%;
  max-width: 500px;
}

.size-select__dropdown:hover,
.size-select__dropdown:focus {
  border-color: #0a3641;
  outline: none;
}

@media (max-width: 800px) {
  .jacket__container {
    flex-direction: column;
  }
}
